<!DOCTYPE html>
<html>
<head>
	<title>Today is Football Saturday</title>
	<style type="text/css" media="screen">
	.soot{
		color:black;
		width:20%;
		height:50px;
		background-color:blue
	}
		table#football{
			border:5px solid blue;
			width:600;
			height:400;
		}
	</style>


</head>
<body>
	
	<div class="container">
		<%= yield %>
	</div>
<footer>
  <div class="container friend">
    Breezy Stuff
  </div>
</footer>

</body>

</html>
